<h1>Team Name: <%= @team.name %></h1><br>
<h2>Team Motto: <%= @team.motto %></h2><br>

<% @heroes.each do |hero| %>
    <p>Hero Name: <%= hero.name %></p><br>
    <p>Hero Power: <%= hero.power %></p><br>
    <p>Hero Biography: <%= hero.bio %></p><br>
<% end %>
